name: Sync to Hugging Face Space (API)

on:
  push:
    branches: ["main"]

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Push to Hugging Face Space
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"

          git remote add hf https://harshalanka:${HF_TOKEN}@huggingface.co/spaces/harshalanka/wpi-notes-summarizer-api
          git push hf main --force
